/*style selidas*/

body{
    font-family: 'Lora',serif;
    background: linear-gradient(to bottom, #D4BCA8,#ba7f89);
    min-height: 700px;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    margin: 90px -2px;
}

menu{
    background-color: #a46972;
    padding: 30px;
    text-align:center;
    box-shadow: 0px 0px 80px #71434b;
}
menu a{
    font-family: 'Playfair Display',serif;
    font-size: 30px;
    font-weight: bold;
    color: #663a42;
    transition: all 0.5s;
    display: inline-block;
    text-decoration: none;
    margin: 0px 30px 10px;
    text-shadow: 0.4px 0.6px 0.7px;
}
menu a:hover{
    color: #c2a48a;
    transform: scale(1.2);
}

main{
    width: 500px;
    background-color: #9E5A65;
    border-radius: 10px;
    box-shadow: 8px;
    margin: 100px 450px;
    padding:70px;
    border: 4px solid #D4BCA8;
    border-style:solid;
}

h1{
    color: rgb(68, 36, 36);
    text-shadow: 2px 3px 2px;
}

h2{
    color: rgb(68, 36, 36);
    text-shadow: 2px 3px 2px;
    text-align: center;
    font-size: 55px;
}
p{
    text-shadow: 1px 0.7px 0.1px;
    color: #4d3237;
}

button{
    color:#41282c;
    background-color: #9b767d;
    border: solid #6a5156;
}

textarea,input,::placeholder{
    background-color:  #c5b5a7;
    color:#4d3237;
}


/*forma epik*/
label{
    font-weight: bold;
    display: block;
}

button:active{
    opacity: 0.8;
}

#success-message{
    text-align: center;
    color: rgb(16, 96, 16);
    border: 3px rgb(14, 77, 14);
    display: none;
}
.error{
    text-align: center;
    color: rgb(148, 21, 21);
    display: none;
}

div{
    text-decoration: none;
    color:rgb(68, 36, 36);
}
a{
    text-decoration: none;
    color:rgb(68, 36, 36);
    transition: all 0.5s;
}

a:hover{
    color: rgb(123, 80, 80);
    transform: scale(1.2);
}

ul,li{
    color: rgb(68, 36, 36);
    font-size: 23px;
}